.footer-page2{
    padding-top: 15rem;
    padding-bottom: 2.5rem;
    background: url(../../images/Footer_Section.png);
    @include responsive(tab-port) {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
    @include responsive(phone) {
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer-page2-content {
        border-bottom: 1px solid #fff;
        padding: 0px;
        @include responsive(tab-port) {
            padding: 0;
        }
    }

    .ui-kit{
        @include responsive(tab-port) {
            padding-top: 14rem;
        }
        h4{
            margin-bottom: 15px;
            a{
                color: $color-white !important;
                font-weight: 500 !important;
                font-size: 18px;
                }
        }     
        p{
            line-height: 2;
            font-size: 16px;
            color:$color-white;
                }
    }
    .footer2-about {
        @include responsive(tab-port) {
            padding-top: 14rem;
        }
        @include responsive(phone) {
            padding-top: 0;
        }
        h5{
            margin-bottom: 15px;
            text-transform: capitalize;
            color: $color-white;
            font-weight: 400;
            font-size: 2rem;
        }
        ul{
            position: relative;
            left: -40px;
            li{
                list-style: none;
                line-height: 1.8;
                a{
                    color:$color-white!important;
                    text-transform: capitalize;
                    font-size: 14px;
                    font-weight: 300 !important;
                 }
            }
        }
    } 
    .subscribe{
        @include responsive(tab-port) {
         margin-bottom: 1rem;
         padding-top: 14rem;
        }
        @include responsive(phone) {
            margin-bottom: 1rem;
            padding-top: 0;
           }
        h4{
            color:$color-grey-light;
            font-size: 18px;
            text-transform: capitalize;
            margin-bottom: 15px;
         }
          
        p{
            line-height: 1.7;
            font-size: 16px;
            color: $color-white;
        }
        input{
            border-radius: 25px;
            padding: 5px ;
            text-align: initial;
            max-width: 20rem;
            border: 1px solid #80808087;
            outline: none;
            padding-left: 2rem;

            @include responsive(tab-land) {
                max-width: 11rem;
                padding: 0 ;
               }
         }
    }
}


        
 .footer-page2-content{
    border-bottom: 1px solid $color-white;
}
.footer2-author {
    ul {
        margin-bottom: 0;
        li{
           display: inline-block;
           padding: 5px;
           i{
               height: 30px;
               width: 30px;
               background:$color-grey-light;
               line-height: 2;
               border-radius: 50%;
               text-align: center;
               transition: all .2s;
               font-size: 16px;
               &:hover{
                   transform: skewY(1deg) skewX(1deg) scale(1.1);
                   cursor: pointer;
               }
            }
       }
    }
}


.footer2-author{
    @include responsive(phone) {
        margin-top: 0;
       }
   margin-top: 25px;
   p{
       font-size: 12px;
       margin: auto;
    }
}