.homepage{
    background: url(../../images/Header.png);
    padding-bottom: 28.1rem;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position-y: bottom;
    .homepage-main-content{
        padding-top: 5rem;
        text-align: center;
        margin-top: 10rem;
        h2{
            animation-name: moveInLeft;
            animation-duration: 2s;
            animation-delay: 1s;
            animation-timing-function: ease-in;
            color: $color-grey-light;
            font-size: 3rem;
        }
        p{
            animation-name: moveInRight;
            animation-duration: 2s;
            animation-delay: 1s; 
            animation-timing-function: ease-in;
            margin: auto;
          
        }
    }
    @include responsive(tab-land) {
        padding-bottom: 34.9rem;
    }
    @include responsive(tab-port) {
        padding-bottom: 34.9rem;
    }
    @include responsive(phone) {
        padding-bottom: 28.39rem;
    }

}